body{
  text-align: center;
  background-color: peachpuff;
}
.container {
  background-color: lavender;
  padding: 10px;
  border-radius: 15px;
  width: 750px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 15px;
  text-align: center;
}
img {
  text-align: center;
  height: 200px;
  width: 175;
  margin: 20px;
}